@charset "utf-8";
/* CSS Document */
/*总体样式*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	font: inherit;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 13px;
	-webkit-font-smoothing:antialiased;
	font-family:"Microsoft Yahei";
}
::-ms-clear{display: none;}
::-ms-reveal{display: none;}

.is_temsli13{width:78%;border:none;}
input::-ms-clear{display:none;}
input{margin:0;padding:0;font:13px/2  "microsoft yahei",Arial, Helvetica, sans-serif; color:#444;border:none;outline:medium; border-radius:2px;-moz-border-radius:2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;}
h1, h2, h3, h4, h5, h6{ font-weight:500;}
h5{font-size:14px;}
h3{font-size:24px;}
h2{ font-size:18px; font-weight:600;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
strong { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
 i { font-style:normal}
a{ color:#808080; text-decoration:none}
a:hover{ color:#990302;	  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;}
<!--float-->
.fl{float:left;}
.float{float:left;}
.fr{float:right;}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table
}
.clearfix:after {
  clear: both;
}





















